@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Politechnika Warszawska<br />
    Wydział Matematyki i Nauki Informacyjnych<br />    
</address>

<address>
    <strong>In order to add HR please contact one of our admins:</strong><br />
    <a href="mailto:01135064@pw.edu.pl">Patryk Czapla</a><br />
    <a href="mailto:01105018@pw.edu.pl">Tomasz Herman</a><br />
    <a href="mailto:01130556@pw.edu.pl">Dominik Bezkosty</a>
</address>
